*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* COMMON */
.container-fluid{
    width: 100%;
}

.container1400{
    max-width: 1400px;
    margin: 0 auto;
}

.container1000{
    max-width: 1000px;
    margin: 0 auto;
}

.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.col-20{
    width: calc(100% / 5)
}

.col-30{
    width: calc(100% / 3 - 35px);
    min-height: 1030px;
}

.col-33{
    width: calc(100% / 3 - 34px);
}

.col-40{
    width: 40%;
}

.col-50{
    width: 50%;
    padding: 15px 15px;
}

.col-60{
    width: 60%;
}

.col-100{
    width: 100%;
}

.grey-border{
    border: 1px solid grey;
}

.lightblue{
    background-color: lightblue;
}

.white{
    background-color: white;
}

.white-text{
    color: white;
}

.s-between{
    justify-content: space-between;
}

.padding{
    padding: 70px 0;
}

.bg-lightblue{
    background-color: #B4CEE6;
    padding: 120px 0;
}

.d-flex{
    display: flex;
}

.d-inline-block{
    display: inline-block;
}

.align-items{
    align-items: center;
}

.flex-end{
    justify-content: flex-end;
}

.j-content-end{
    justify-content: flex-end;
}

.relative{
    position: relative;
    top: 65px;
    right: 100px;
}

.baseline{
    display: flex;
    align-items: baseline;
}

.margin-top-30{
    margin-top: 30px;
    width: 100%;
}

h2{
    font-size: 40px;
}

h3{
    font-size: 23px;
}

/* HEADER */
header{
    width: 100%;
}

.content-header{
    height: 35px;
}

.header-list{
    height: 100%;
}

.header-list li{
    list-style: none;
}

.h-list-sx li{
    margin-right: 40px;
}

.h-list-dx li{
    margin-left: 40px;
}

.itemlist-header a{
    text-decoration: none;
    color: grey;
    font-size: 16px;
}

#start-button{
    color: white;
    background-color: #2E60FF;
    padding: 5px 10px;
}

.margin-right{
    margin-right: 0;
}
/* MAIN */
h1{
    font-size: 80px;
}

.jumbo-left{
    padding-bottom: 40px;
}
.free-try{
    text-decoration: none;
    background-color: #2E60FF;
    padding: 10px 15px;
}

#annulla{
    padding-top:40px;
}

#arrow-down{
    font-size: 50px;
    color: black;
    padding-top: 80px;
}

.content-jumbo-1{
    padding-left: 100px;
    padding-top: 50px;
}

.jumbo2-left-padding{
    padding-top: 60px;
    padding-left: 100px;
    padding-right: 100px;
}

#jumbo{
    width: 100%;
}

/* BUSINNES */
.content-price-top{
    padding-top: 80px;
}

.container-checkbox{
    padding-top: 50px;
}

.form-check-input{
    transform: scale(1.5);
}

#flexRadioDefault2{
    margin-left: 60px;
}

.container-businnes-plan{
    padding: 30px 28px;
}

.user{
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid grey;
}

li{
    list-style-type: none;
}

.businnes-list-1{
    /* margin-top: 25px; */
    line-height: 2;
}

.businnes-list-1 :first-child{
    font-size: 23px;
    font-weight: bolder;
}

.businnes-list-1 :last-child{
    color: grey;
    margin-bottom: 40px;
}

.businnes-list-2 li{
    margin-bottom: 20px;
}

.businnes-list-2 li i{
    margin-right: 5px;
}

.blue-big-button{
    text-decoration: none;
    background-color: #2E60FF;
    padding: 10px 25px;
    text-align: center;
}

.shop-now{
    padding: 40px 0;
}

.hr-businnes{
    width: 20%;
    color: grey;
    margin-bottom: 50px;
}

.plan-highlights{
    font-weight: bolder;
}

.businnes-list-3{
    margin-top: 30px;
}

.businnes-list-3 li{
    margin-bottom: 20px;
}

.fa-check{
    color: #2E60FF;
    margin-right: 5px;
}

.content-price-bot-1 :first-child{
    font-size: 23px;
    font-weight: bolder;
}

.content-price-bot{
    width: 100%;
}

.content-price-bot-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pricebot-text-1{
    margin-top: 10px;
    font-weight: bolder;
}

.pricebot-text-2{
    margin-top: 45px;
}

/* MID SECTION */
#partner-image{
    width: 100%;
}

.content-mid-2{
    padding: 50px;
}

.content-mid-2 :first-child{
    font-size: 23px;
    font-weight: bolder;
    margin-bottom: 20px;
}

.content-mid-2 :last-child{
    text-decoration: none;
    color: grey;
    border: 2px solid gray;
    margin-top: 30px;
    padding: 10px;
}

/* CARD SECTION */
.gap{
    gap: 30px 50px;
}

#card-title{
    margin-bottom: 40px;
}

.card-image{
    width: 100%;
}

.card-description{
    margin: 30px 0;
}

.card-bottom-section{
    margin-top: 150px;
}

.card-bottom-section :last-child{
    margin-top: 60px;
    margin-bottom: 80px;
}

/* CUBE SECTION */
.col-333{
    width: calc(100% / 3);
    height: calc(100vw / 3)
}

.small-cube{
    width: 50%;
    height: 50%;
    float: left;
}

.big-cube{
    height: 100%;
}

.logo-cube{
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lightgreen{
    background-color: #a0d199;
    border: 15px solid #cfe8cb;
    position: relative;
}

.darkred{
    background-color: #60142f;
    position: relative;
}

.skyblue{
    background-color: #2391cd;
    position: relative;
}

.lightred{
    background-color: #fd2f27;
    position: relative;
}

.red{
    background-color: #d21d28;
    position: relative;
}

.lightblue{
    background-color: #b4cee6;
    position: relative;
}

.blue{
    background-color: #1e2880;
    position: relative;
}

.yellow{
    background-color: #fdd833;
    position: relative;
}

.white-filter{
    filter: brightness(0) invert(1);;
}

#logo-0{
    width: 50%;
    margin-bottom: 30px;
}

#hr-cube{
    width: 20%;
    border: 1px solid lightgray;
}

.big-cube{
    background-color: #f5f5f5;
    padding: 45px;
}

#big-cube-text{
    margin-top: 30px;
    margin-bottom: 40px;
}

.bg-grey{
    background-color: grey;
}

#cube-bot-title{
    color: #60142f;
}

#button-try-white{
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 10px 20px;
}

/* SEZIONE DOMANDE */
.questions{
    padding: 140px 0;
}

#questions-title{
    margin-bottom: 50px;
}

.container-questions{
    align-items: baseline;
    padding: 35px 0;
}

.questions-text{
    font-weight: bolder;
}

#arrow-questions{
    margin-left: 300px;
}

.hr-questions{
    border: 1px solid lightgray;
}

/* FOOTER */
footer{
    background-color: black;
}

.footer-title-list{
    font-size: 25px;
    font-weight: bolder;
    margin-bottom: 25px;
}

.footer-list li a{
    line-height: 2;
    text-decoration: none;
}

.footer-list li a:hover{
    text-decoration-line: underline;
    color: white;
}

#hr-footer{
    width: 132px;
    border-top-style: solid;
    border-top-width: 1px;
    border-color: grey;
    margin-top: 120px;
}

.container-language{
    margin-top: 50px;
    align-items: baseline;
}

#language{
    text-decoration: none;
    margin-left: 10px;
    margin-right: 6px;
}

#language:hover{
    text-decoration-line: underline;
    color: white;
}

.fa-caret-up{
    font-size: 14px;
}


