*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* COMMON */
.container-fluid{
    width: 100%;
}

.container1400{
    max-width: 1400px;
    margin: 0 auto;
}

.container1000{
    max-width: 1000px;
    margin: 0 auto;
}

.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.col-20{
    width: calc(100% / 5)
}

.col-30{
    width: calc(100% / 3 - 35px);
    min-height: 1030px;
}

.col-33{
    width: calc(100% / 3 - 20px);
}

.col-40{
    width: 40%;
}

.col-50{
    width: 50%;
    padding: 15px 15px;
}

.col-60{
    width: 60%;
}

.col-100{
    width: 100%;
}

.border{
    border: 1px dashed black;
}

.grey-border{
    border: 1px solid grey;
}

.coral{
    background-color: lightcoral;
}

.brown{
    background-color: brown;
}

.lightblue{
    background-color: lightblue;
}

.s-between{
    justify-content: space-between;
}

.padding{
    padding: 50px 0;
}

.bg-lightblue{
    background-color: #B4CEE6;
}

.d-flex{
    display: flex;
}

.align-items{
    align-items: center;
}

.flex-end{
    justify-content: flex-end;
}

.relative{
    position: relative;
    top: 65px;
    right: 100px;
}

.baseline{
    display: flex;
    align-items: baseline;
}

.margin-top-30{
    margin-top: 30px;
    width: 100%;
}

/* HEADER */
header{
    width: 100%;
}

.content-header{
    height: 35px;
}

.header-list{
    height: 100%;
}

.header-list li{
    list-style: none;
}

.h-list-sx li{
    margin-right: 40px;
}

.h-list-dx li{
    margin-left: 40px;
}

.itemlist-header a{
    text-decoration: none;
    color: grey;
    font-size: 16px;
}

#start-button{
    color: white;
    background-color: #2E60FF;
    padding: 5px 10px;
}

.margin-right{
    margin-right: 0;
}
/* MAIN */
h1{
    font-size: 80px;
}

.jumbo-left{
    padding-bottom: 40px;
}
.free-try{
    text-decoration: none;
    color: white;
    background-color: #2E60FF;
    padding: 10px 15px;
    display: inline-block;
}

#annulla{
    padding-top:40px;
}

#arrow-down{
    font-size: 50px;
    color: black;
    padding-top: 80px;
}

.content-jumbo-1{
    padding-left: 100px;
    padding-top: 50px;
}

.jumbo2-left-padding{
    padding-top: 60px;
    padding-left: 100px;
    padding-right: 100px;
}

#jumbo{
    width: 100%;
}

/* BUSINNES */
.content-price-top{
    padding-top: 80px;
}

.content-price-top h2{
    font-size: 40px;
}

.container-checkbox{
    padding-top: 50px;
}

.form-check-input{
    transform: scale(1.5);
}

#flexRadioDefault2{
    margin-left: 60px;
}

.container-businnes-plan{
    padding: 30px 28px;
}

.user{
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid grey;
}

li{
    list-style-type: none;
}

.businnes-list-1{
    /* margin-top: 25px; */
    line-height: 2;
}

.businnes-list-1 :first-child{
    font-size: 23px;
    font-weight: bolder;
}

.businnes-list-1 :last-child{
    color: grey;
    margin-bottom: 40px;
}

.businnes-list-2 li{
    margin-bottom: 20px;
}

.businnes-list-2 li i{
    margin-right: 5px;
}

.blue-big-button{
    text-decoration: none;
    background-color: #2E60FF;
    color: white;
    padding: 10px 25px;
    display: inline-block;
    text-align: center;
}

.shop-now{
    padding: 40px 0;
}

.hr-businnes{
    width: 20%;
    color: grey;
    margin-bottom: 50px;
}

.plan-highlights{
    font-weight: bolder;
}

.businnes-list-3{
    margin-top: 30px;
}

.businnes-list-3 li{
    margin-bottom: 20px;
}

.fa-check{
    color: #2E60FF;
    margin-right: 5px;
}

.content-price-bot-1 :first-child{
    font-size: 23px;
    font-weight: bolder;
}

.content-price-bot{
    width: 100%;
}

.content-price-bot-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pricebot-text-1{
    margin-top: 10px;
    font-weight: bolder;
}

.pricebot-text-2{
    margin-top: 45px;
}

.content-mid{
    height: 500px;
}

.gap{
    gap: 30px 30px;
}

.content-bot{
    height: 450px;
}

.col-333{
    width: calc(100% / 3);
    height: calc(100vw / 3)
}

.small-cube{
    width: calc(100% / 2);
    height: calc(100% / 2);
    float: left;
}

.big-cube{
    height: 100%;
}

.cube-subtitle{
    height: 250px;
}

.questions{
    height: 500px;
    background-color: rgb(226, 98, 43);
}

/* FOOTER */
footer{
    background-color: black;
}

.content-footer{
    height: 350px;
    border: 1px dashed black;
}

.language{
    background-color: white;
    margin-top: 80px;
}

.content-language{
    height: 50px;
}

