*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* COMMON */
.border{
    border: 1px dashed black;
}

.coral{
    background-color: lightcoral;
}

.brown{
    background-color: brown;
}

.lightblue{
    background-color: lightblue;
}

.s-between{
    justify-content: space-between;
}

.padding{
    padding: 40px 0;
}

.bg-grey{
    background-color: lightgray;
}

.d-flex{
    display: flex;
}

.align-items{
    align-items: center;
}

.flex-end{
    justify-content: flex-end;
}

/* HEADER */
header{
    width: 100%;
}

.container-fluid{
    width: 100%;
}

.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.col-50{
    width: 50%;
    padding: 15px 15px;
}

.content-header{
    height: 35px;
}

.header-list{
    height: 100%;
}

.header-list li{
    list-style: none;
}

.h-list-sx li{
    margin-right: 40px;
}

.h-list-dx li{
    margin-left: 40px;
}

.itemlist-header a{
    text-decoration: none;
    color: grey;
    font-size: 16px;
}

#start-button{
    color: white;
    background-color: #2E60FF;
    padding: 5px 10px;
}

.margin-right{
    margin-right: 0;
}
/* MAIN */
.container1400{
    max-width: 1400px;
    margin: 0 auto;
}

.col-100{
    width: 100%;
}

.content-jumbo-1{
    height: 200px;
}

.col-40{
    width: 40%;
}

.col-60{
    width: 60%;
}

.content-jumbo-2{
    height: 450px;
}

.container1100{
    max-width: 1100px;
    margin: 0 auto;
}

.content-price-top{
    height: 80px;
}

.col-30{
    width: calc(100% / 3 - 35px);
}

.content-price{
    height: 850px;
}

.content-price-bot{
    height: 200px;
}

.content-mid{
    height: 500px;
}

.col-33{
    width: calc(100% / 3 - 20px);
}

.gap{
    gap: 30px 30px;
}

.content-bot{
    height: 450px;
}

.col-333{
    width: calc(100% / 3);
    height: calc(100vw / 3)
}

.small-cube{
    width: calc(100% / 2);
    height: calc(100% / 2);
    float: left;
}

.big-cube{
    height: 100%;
}

.cube-subtitle{
    height: 250px;
}

.questions{
    height: 500px;
    background-color: rgb(226, 98, 43);
}

.col-20{
    width: calc(100% / 5)
}

.content-footer{
    height: 350px;
    border: 1px dashed black;
}

footer{
    background-color: black;
}

.language{
    background-color: white;
    margin-top: 80px;
}

.content-language{
    height: 50px;
}